body {
    width: 300px;
    padding: 10px;
    font-family: "Kanit", sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

#gifResults img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
}

.gif-container {
    position: relative;
    display: inline-block;
}

.favorite-button {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
}

.gif-container:hover .favorite-button {
    display: block;
}

input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: "Kanit", sans-serif;
    border-radius: 5px;
}

button {
    padding: 5px;
    margin-bottom: 10px;
    font-family: "Kanit", sans-serif;
    border-radius: 5px;
}

#modeToggle {
    margin-bottom: 10px;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#favoritesButton {
    padding: 5px;
    margin-bottom: 10px;
    font-family: "Kanit", sans-serif;
    border-radius: 5px;
}

#favoritesResults img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}
